version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - ./.env
    command: python run.py

  bot:
    build: .
    volumes:
      - .:/app
    env_file:
      - ./.env
    command: python -m "app.services.bot"
